.header-blog
  background-color: $color-white
  padding-bottom: 0

.blog
  margin-bottom: 8rem
  &__container
    margin-bottom: 12.7rem
  &__title
    +gilroy_medium
    font-size: 4.2rem
    margin-bottom: 6.5rem
    text-align: center
  &__filtres
    margin-bottom: 5rem
    display: flex
    justify-content: space-between
  &__items
    margin-bottom: 7rem
    &_row
      display: flex
      justify-content: space-between
      &:not(:last-child)
        margin-bottom: 4rem

  &__categories, &__archives
    &-listBlock
      width: 34rem
      height: 4.6rem
      box-sizing: border-box
    &-list
      width: 100%
      height: 100%
      box-sizing: border-box
      padding: 0 1.2rem 0 1.4rem
      border-radius: 0
      border:
        left: none
        right: none
        top: none
        color: $color-main
    &-listText
      width: 100%
      p
        +gilroy_medium
        font-size: 2.4rem
        width: 100%
    &-listItems
      left: 0
      box-sizing: border-box
      border-color: $color-main
      background-color: $color-white
      box-shadow: 0.3rem 0.4rem 1.4rem rgba($color-black, 0.15)
      overflow-y: hidden
      height: auto
      padding: 1.5rem 1.4rem
    &-listItem
      &.selected
        background: none
    &-listItem
      border-color: $color-main
      padding: 0 0 0.5rem
      margin-bottom: 1rem

  &__categories
    &-listItem
      a
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 0.2rem
        font-size: 1.8rem
        color: $color-dark
        text-decoration: none
        width: 100%
        box-sizing: border-box
        span
          display: block
          &:last-child
            +gilroy_medium
        &:hover
          span:first-child
            color: $color-red
      &:last-child
        margin-bottom: 0

  &__archives
    &-listItem
      &_year
        display: flex
        align-items: center
        justify-content: space-between
        span
          font-size: 1.8rem
        &:hover
          span
            text-decoration: underline
      &_icon
        svg
          width: 100%
          height: 100%
        &.inactive
          display: none
      &_plus
        width: 1.22rem
        height: 1.21rem
      &_minus
        width: 1.2rem
        height: 0.4rem


  &__item
    width: 53rem
    height: 56.4rem
    padding: 2.5rem 2.8rem 3rem
    box-sizing: border-box
    border: 0.1rem solid $color-main
    border-radius: 0.5rem
    &_img
      width: 100%
      height: 31.6rem
      margin-bottom: 2.8rem
      img
        width: 100%
        height: auto
    &_title
      font-size: 3.6rem
      +gilroy_medium
      margin-bottom: 1.8rem
    &_subtitle
      font-size: 2.4rem
      padding: 0 0 0.1rem
      width: 100%
      height: 5.6rem
      line-height: 1.2
      overflow: hidden
      text-align: justify
      margin-bottom: 2rem
    &_link
      +gilroy_bold
      font-size: 2.4rem
      color: $color-red
      text-decoration: none
      &:hover
        text-decoration: underline

  &__page-count
    display: flex
    align-items: center
    width: fit-content
    margin: 0 auto
    &_data
      display: flex
      align-items: center
      &-text
        font-size: 2.4rem
      &-number
        font-size: 2.8rem
      &-currentNumber
        +gilroy_medium
        color: $color-red
        margin: 0 1rem
      &-restNumber
        margin-left: 1rem
    &_arrow
      width: 3.1rem
      height: 5.6rem
      transition: 0.1s
      svg
        width: 100%
        height: 100%
      &:hover
        cursor: pointer
      &:active
        transform: translateY(0.05rem)
      &.inactive
        svg path
          stroke: $color-text
        &:hover
          cursor: default
        &:active
          transform: translateY(0)
      &-prev
        margin-right: 2.5rem
      &-next
        margin-left: 2.5rem

