.footer
  height: 27.3rem
  background-color: $color-dark
  position: relative
  &__container
    display: flex
  &__company
    width: 65%
    display: 
    z-index: 2
    &_card
      position: absolute
      display: block
      content: ''
      width: 43.1rem
      height: 23.5rem
      border-radius: 0.5rem
      bottom: -5rem
      background-color: $color-white
      z-index: 1
      left: 50%
      transform: rotate(-5deg) translateX(-130%)
      bottom: 12rem
      box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.25)
    &_block
      &-logo
        width: 21.2rem
        margin: 1.8rem auto 2.2rem
      &-contact
        margin-top: 1.2rem
        font-size: 1.3rem
        letter-spacing: -0.02rem
    &_call
      width: 21.2rem
      margin: 0 auto
      height: 6rem
      p
        +gilroy_medium
        font-size: 2.4rem
        margin-bottom: 0.5rem
      a
        +geometria_extrabold
        font-size: 1.8rem
        color: $color-red
        text-decoration: none
        outline: none
        transition: 0.1s
        &:active
          color: $color-text

  &__block
    margin-left: 5rem
    padding-top: 6rem
    width: 100%
    color: $color-bg-main
    &_links
      width: 100%
      &-block
        &:first-child
          margin-bottom: 4.5rem
      &-list
        display: flex
        justify-content: space-between
        align-items: center
        a
          +gilroy_medium
          font-size: 2rem
          color: $color-bg-main
          text-decoration: none
          &:active
            color: $color-red
      &-social
        display: flex
        align-items: center
        p
          font-size: 2rem
          margin-right: 1.9rem
      &-socials
        a
          svg
            height: 3rem
            width: auto
          &:not(:last-child)
            margin-right: 1.5rem

  &__copyright
    color: $color-bg-main
    font-size: 1.3rem
    position: absolute
    bottom: 1rem
    left: 50%
    transform: translateX(-50%)


@media (max-width: 1130px)
  .footer
    &__company
      &_card
        width: 32rem
        height: 22rem
        transform: rotate(-5deg) translateX(-160%)
    &__block
      &_links
        &-item
          a
            font-size: 1.6rem
        &-social
          p
            font-size: 1.6rem
          a svg
            height: 2.5rem

@media (max-width: 1050px)
  .footer
    &__company
      width: 43%
      &_card
        width: 30rem
        height: 20rem
        left: 0
        transform: rotate(-5deg)
        bottom: 9rem

@media (max-width: 960px)
  .footer
    &__company
      width: 25.2rem
    &__block
      width: 50rem
    &__block
      &_links
        &-list
          flex-wrap: wrap
        &-item
          width: 8.32rem
          margin: 0 2rem 2rem
        &-social
          width: 24rem

@media (max-width: 800px)
  .footer
    height: auto
    &__container
      flex-direction: column
      align-items: center
    &__company
      &_card
        bottom: auto
        top: -3.5rem
        left: 50%
        transform: rotate(-5deg) translateX(-50%)
    &__block
      margin-left: 0
      width: 90%
      &_links
        &-item
          a
            font-size: 1.5rem
        &-social
          p
            font-size: 1.5rem
        &-block
          &:first-child
            margin-bottom: 3rem
          &:last-child
            margin-bottom: 5rem
        &-list
          // flex-wrap: nowrap
        &-item
          margin: 0 1rem 2rem

    &__copyright
      width: 100%
      text-align: center
        
@media (max-width: 535px)
  .footer
    &__block
      &_links
        &-block
          &:first-child
            margin-bottom: 2rem
          &:last-child
        &-list
          // flex-direction: column
        &-item
          &:not(:last-child)
            margin-bottom: 2rem

@media (max-width: 434px)
  .footer
    &__block
      &_links
        &-block
          &:first-child
            margin-bottom: 0

@media (max-width: 410px)
  .footer
    &__block
      &_links
        &-social
          width: 80%
          justify-content: space-between
          p
            white-space: nowrap
            margin-right: 0
        &-socials
          // width: 23rem
          a
            svg
              height: 2.2rem




