section.areas
  p.areas__title Areas We Serve
  div.container.areas__container
    div.areas__data
      div.areas__data-block
        p Volt Appliance Repair <br>
          span of Manatee County
        div.areas__data-tel
          a(href="tel:+18882857957").areas__data-phoneLink
            div.areas__data-phoneIcon
              <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="14" cy="14" r="13.5" stroke="#F8F8F8"/>
                <path d="M19.241 16.6832C18.8754 16.3782 18.4453 16.157 17.9821 16.0354C17.5188 15.9139 17.0339 15.8951 16.5623 15.9804C15.7913 16.0413 15.1667 17.0871 15.1667 17.0871C15.1667 17.0871 14.5701 17.0262 13.0563 15.9196C12.1028 15.1382 11.461 14.0504 11.2443 12.8487C11.6262 12.3048 11.9363 11.7154 12.1672 11.0947C12.3003 10.4997 12.208 9.87731 11.9075 9.34449C11.607 8.81166 11.119 8.405 10.5352 8.20087C8.84693 7.4705 7.92964 8.36133 7.92964 8.36133C7.84064 10.0119 8.1086 11.6623 8.71584 13.2035C9.32309 14.7448 10.2558 16.142 11.4525 17.3029C12.5481 18.4132 13.9116 19.2329 15.416 19.6856C16.9205 20.1384 18.5171 20.2095 20.057 19.8924C20.0968 19.4635 20.0968 19.032 20.057 18.6031C20.0415 17.8848 19.7499 17.1988 19.241 16.6832Z" fill="white"/>
              </svg>
            p (888) 285-7957
      div.areas__data-text
        p Bradenton Beach, Cortez, Ellenton, Holmes Beach, Lakewood Ranch, Longboat Key, Myakka City, Oneco, Palmetto, Parrish, Sarasota, Siesta Key, Tallevast, Terra Ceia*
        p *sdfsfsfsffererf
    div.areas__mapBlock
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d226629.409222038!2d-82.32406138253081!3d27.43547658420184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c32e41b0227c3b%3A0xe4bb959086884726!2z0JzRjdC90LDRgtC4LCDQpNC70L7RgNC40LTQsCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1584210629828!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  div.areas__triangles-bg
    img(src="assets/images/triangles-bg.png", alt="Triangles-bg")


