section.blog
  div.container.blog__container
    p.blog__title Our Blog
    div.blog__filtres
      div.blog__categories
        div.list-block.blog__categories-listBlock
          div.list.blog__categories-list
            div.list-text.blog__categories-listText
              p Categories
            div.list-arrow.blog__categories-listArrow
              <svg viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.17529 1L6.67529 6L12.1753 1" stroke="#565656" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          div.list-items.blog__categories-listItems
            div.list-item.blog__categories-listItem
              a(href="#")
                span Appliances - Big and Small
                span (170)
            div.list-item.blog__categories-listItem
              a(href="#")
                span DIY - Projects
                span (70)
            div.list-item.blog__categories-listItem
              a(href="#")
                span Energy Savings
                span (62)
            div.list-item.blog__categories-listItem
              a(href="#")
                span Holidays
                span (51)
            div.list-item.blog__categories-listItem
              a(href="#")
                span Home Safety
                span (66)

      div.blog__archives
        div.list-block.blog__archives-listBlock
          div.list.blog__archives-list
            div.list-text.blog__archives-listText
              p Archives
            div.list-arrow.blog__archives-listArrow
              <svg viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.17529 1L6.67529 6L12.1753 1" stroke="#565656" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          div.list-items.blog__archives-listItems
            div.list-item.blog__archives-listItem
              div.blog__archives-listItem_block
                div.blog__archives-listItem_year
                  span 2020
                  div.blog__archives-listItem_icon.blog__archives-listItem_plus
                    <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 4.59326H5.95349V0.570007H4.02326V4.59326H0V6.52349H4.02326V10.57H5.95349V6.52349H10V4.59326Z" fill="#162230"/>
                    </svg>
                  div.blog__archives-listItem_icon.blog__archives-listItem_minus.inactive
                    <svg viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0.593262V2.52349H10V0.593262H0Z" fill="#162230"/>
                    </svg>




    div.blog__items
      div.blog__items_row
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...

      div.blog__items_row
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...

      div.blog__items_row
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...

    div.blog__page-count
      div.blog__page-count_arrow.blog__page-count_arrow-prev.inactive
        <svg viewBox="0 0 31 56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28 3.00012L3 28.0001L28 53.0001" stroke="#162230" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      div.blog__page-count_data
        p.blog__page-count_data-text Page
        p.blog__page-count_data-number.blog__page-count_data-currentNumber 01
        p.blog__page-count_data-text of
        p.blog__page-count_data-number.blog__page-count_data-restNumber 100
      div.blog__page-count_arrow.blog__page-count_arrow-next
        <svg viewBox="0 0 31 56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 53L28 28L3 3" stroke="#162230" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>





