section.blog-item
  div.container.blog-item__container
    p.blog-item__title Lorem Ipsum Title
    div.blog-item__block
      div.blog-item__block-left

        div.blog-item__arrows
          div.blog-item__arrow.blog-item__arrow-1.blog-item__arrow-prev.blog-item__arrow-prev-1
            div.blog-item__arrowIcon.blog-item__arrowIcon-prev
              <svg viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2L2 11.5L12 21" stroke="#162230" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.blog-item__arrow-title Previous Post
          div.blog-item__arrow.blog-item__arrow-1.blog-item__arrow-next.blog-item__arrow-next-1
            p.blog-item__arrow-title Next Post
            div.blog-item__arrowIcon.blog-item__arrowIcon-next
              <svg viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 21L12 11.5L2 2" stroke="#162230" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

        div.blog-item__block-data
          div.blog-item__block-data_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")

        div.blog-item__block-dateSocials
          div.blog-item__block-date
            p March 03, 2020
          div.blog-item__block-socials
            a(href="https://www.facebook.com/" target="_blank").blog-item__block-socials_icon.blog-item__block-socials_facebook
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28.3444 30H20.6995V18.3823H24.5992L25.1835 13.8551H20.6995V10.964C20.6995 9.65325 21.064 8.76008 22.9435 8.76008L25.3412 8.75926V4.70936C24.926 4.65461 23.5033 4.53122 21.8477 4.53122C18.3909 4.53122 16.0244 6.64115 16.0244 10.5162V13.8551H12.1149V18.3823H16.0244V30H1.65563C0.741195 30 0 29.258 0 28.3436V1.65641C0 0.741175 0.741195 0 1.65563 0H28.3444C29.2588 0 30 0.741175 30 1.65641V28.3436C30 29.258 29.2588 30 28.3444 30Z" fill="#162230"/>
              </svg>
            a(href="https://twitter.com/" target="_blank").blog-item__block-socials_icon.blog-item__block-socials_twitter
              <svg width="37" height="30" viewBox="0 0 37 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M36.6949 3.5487C35.3466 4.15301 33.893 4.55909 32.3691 4.74338C33.9249 3.80799 35.1188 2.32187 35.6821 0.553948C34.2285 1.42291 32.6161 2.054 30.9005 2.39151C29.5257 0.918247 27.5704 0 25.4054 0C21.2457 0 17.8741 3.39226 17.8741 7.57527C17.8741 8.16565 17.9422 8.74745 18.0721 9.29926C11.8135 8.98103 6.26402 5.96807 2.55161 1.38434C1.90519 2.50616 1.53459 3.80799 1.53459 5.19126C1.53459 7.82171 2.85938 10.1404 4.88385 11.4968C3.65064 11.4593 2.48772 11.1175 1.47069 10.5507V10.6472C1.47069 14.318 4.06703 17.377 7.51107 18.0746C6.87849 18.2439 6.2129 18.336 5.53133 18.336C5.04465 18.336 4.57288 18.2921 4.11282 18.2042C5.07128 21.214 7.85292 23.4008 11.1457 23.4608C8.56856 25.4913 5.32367 26.7042 1.79657 26.7042C1.18742 26.7042 0.585721 26.6688 0 26.597C3.33009 28.7442 7.2885 30 11.5419 30C25.3926 30 32.9654 18.4603 32.9654 8.44959C32.9654 8.12279 32.9548 7.79492 32.9431 7.47241C34.4106 6.4063 35.6864 5.07232 36.6949 3.5487V3.5487Z" fill="#162230"/>
              </svg>

        div.blog-item__block-data_text
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, error. Commodi harum tempore a, dolorem porro iusto, earum officia provident repellat, obcaecati unde fugit quod. Incidunt odit optio fuga nulla omnis voluptatem dignissimos aperiam reprehenderit? Fugiat fuga enim quidem reiciendis maxime maiores, illum a non rem alias eaque ratione amet placeat est, suscipit perferendis quae, unde ducimus corrupti veritatis nihil dolores error magni voluptatibus. Ad accusantium atque blanditiis assumenda esse ratione laudantium magnam quae sunt commodi provident rem, soluta optio. Modi hic illo commodi numquam beatae? Vero, tempore a ipsam placeat facere voluptatem corporis nostrum facilis, eius odio perspiciatis voluptas blanditiis, rerum corrupti? Voluptatum neque explicabo autem amet iusto excepturi magni ipsum quaerat similique, blanditiis, impedit quo sunt quas nesciunt ipsam veniam facilis harum possimus tenetur? Delectus, voluptates eius itaque dolor voluptatibus temporibus laudantium minus sint quod excepturi deserunt sunt asperiores doloribus! Maxime minima explicabo, totam repudiandae numquam et eos! Ad laudantium blanditiis sunt soluta laboriosam possimus iusto praesentium odio, consequatur voluptatibus quod. Temporibus voluptatum ipsa nihil commodi. Accusamus corrupti, suscipit consectetur iure voluptates, illo est distinctio voluptate facilis error nulla quos quae neque quasi rerum quaerat fugiat saepe consequatur reiciendis nihil dolorum! Labore quaerat architecto, dolorum deserunt sit repellendus.

        div.blog-item__arrows
          div.blog-item__arrow.blog-item__arrow-2.blog-item__arrow-prev.blog-item__arrow-prev-2
            div.blog-item__arrowIcon.blog-item__arrowIcon-prev
              <svg viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2L2 11.5L12 21" stroke="#162230" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.blog-item__arrow-title Previous Post
          div.blog-item__arrow.blog-item__arrow-2.blog-item__arrow-next.blog-item__arrow-next-2
            p.blog-item__arrow-title Next Post
            div.blog-item__arrowIcon.blog-item__arrowIcon-next
              <svg viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 21L12 11.5L2 2" stroke="#162230" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

        div.blog-item__block-categories
          p.blog-item__block-categories_title Categories
          div.blog-item__block-categories_links
            a(href="#").blog-item__block-categories_link Energy Savings
            a(href="#").blog-item__block-categories_link Appliances - Big and Small
            a(href="#").blog-item__block-categories_link Household Tips

      div.blog-item__block-right
        div.blog-item__filtres
          div.blog-item__filter.blog-item__categories
            div.list-block.blog-item__categories-listBlock
              div.list.blog-item__categories-list
                div.list-text.blog-item__categories-listText
                  p Categories
                div.list-arrow.blog-item__categories-listArrow.inactive
                  <svg viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.17529 1L6.67529 6L12.1753 1" stroke="#565656" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              div.list-items.blog-item__categories-listItems.visible
                div.list-item.blog-item__categories-listItem
                  a(href="#")
                    span Appliances - Big and Small
                    span (170)
                div.list-item.blog-item__categories-listItem
                  a(href="#")
                    span DIY - Projects
                    span (70)
                div.list-item.blog-item__categories-listItem
                  a(href="#")
                    span Energy Savings
                    span (62)
                div.list-item.blog-item__categories-listItem
                  a(href="#")
                    span Holidays
                    span (51)
                div.list-item.blog-item__categories-listItem
                  a(href="#")
                    span Home Safety
                    span (66)

          div.blog-item__filter.blog-item__archives
            div.list-block.blog-item__archives-listBlock
              div.list.blog-item__archives-list
                div.list-text.blog-item__archives-listText
                  p Archives
                div.list-arrow.blog-item__archives-listArrow.inactive
                  <svg viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.17529 1L6.67529 6L12.1753 1" stroke="#565656" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              div.list-items.blog-item__archives-listItems.visible
                div.list-item.blog-item__archives-listItem
                  div.blog-item__archives-listItem_block
                    div.blog-item__archives-listItem_year
                      span 2020
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_plus
                        <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10 4.59326H5.95349V0.570007H4.02326V4.59326H0V6.52349H4.02326V10.57H5.95349V6.52349H10V4.59326Z" fill="#162230"/>
                        </svg>
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_minus.inactive
                        <svg viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0.593262V2.52349H10V0.593262H0Z" fill="#162230"/>
                        </svg>
                    div.blog-item__archives-listItem_months
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span April
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span March
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span February
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span January
                          span (5)

                div.list-item.blog-item__archives-listItem
                  div.blog-item__archives-listItem_block
                    div.blog-item__archives-listItem_year
                      span 2019
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_plus
                        <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10 4.59326H5.95349V0.570007H4.02326V4.59326H0V6.52349H4.02326V10.57H5.95349V6.52349H10V4.59326Z" fill="#162230"/>
                        </svg>
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_minus.inactive
                        <svg viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0.593262V2.52349H10V0.593262H0Z" fill="#162230"/>
                        </svg>
                    div.blog-item__archives-listItem_months
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span December
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span November
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span October
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span September
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span August
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span July
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span June
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span May
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span April
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span March
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span February
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span January
                          span (5)

                div.list-item.blog-item__archives-listItem
                  div.blog-item__archives-listItem_block
                    div.blog-item__archives-listItem_year
                      span 2018
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_plus
                        <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10 4.59326H5.95349V0.570007H4.02326V4.59326H0V6.52349H4.02326V10.57H5.95349V6.52349H10V4.59326Z" fill="#162230"/>
                        </svg>
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_minus.inactive
                        <svg viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0.593262V2.52349H10V0.593262H0Z" fill="#162230"/>
                        </svg>
                    div.blog-item__archives-listItem_months
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span December
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span November
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span October
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span September
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span August
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span July
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span June
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span May
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span April
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span March
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span February
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span January
                          span (5)

                div.list-item.blog-item__archives-listItem
                  div.blog-item__archives-listItem_block
                    div.blog-item__archives-listItem_year
                      span 2017
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_plus
                        <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10 4.59326H5.95349V0.570007H4.02326V4.59326H0V6.52349H4.02326V10.57H5.95349V6.52349H10V4.59326Z" fill="#162230"/>
                        </svg>
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_minus.inactive
                        <svg viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0.593262V2.52349H10V0.593262H0Z" fill="#162230"/>
                        </svg>
                    div.blog-item__archives-listItem_months
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span December
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span November
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span October
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span September
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span August
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span July
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span June
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span May
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span April
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span March
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span February
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span January
                          span (5)

                div.list-item.blog-item__archives-listItem
                  div.blog-item__archives-listItem_block
                    div.blog-item__archives-listItem_year
                      span 2016
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_plus
                        <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10 4.59326H5.95349V0.570007H4.02326V4.59326H0V6.52349H4.02326V10.57H5.95349V6.52349H10V4.59326Z" fill="#162230"/>
                        </svg>
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_minus.inactive
                        <svg viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0.593262V2.52349H10V0.593262H0Z" fill="#162230"/>
                        </svg>
                    div.blog-item__archives-listItem_months
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span December
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span November
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span October
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span September
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span August
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span July
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span June
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span May
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span April
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span March
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span February
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span January
                          span (5)

                div.list-item.blog-item__archives-listItem
                  div.blog-item__archives-listItem_block
                    div.blog-item__archives-listItem_year
                      span 2015
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_plus
                        <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10 4.59326H5.95349V0.570007H4.02326V4.59326H0V6.52349H4.02326V10.57H5.95349V6.52349H10V4.59326Z" fill="#162230"/>
                        </svg>
                      div.blog-item__archives-listItem_icon.blog-item__archives-listItem_minus.inactive
                        <svg viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0.593262V2.52349H10V0.593262H0Z" fill="#162230"/>
                        </svg>
                    div.blog-item__archives-listItem_months
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span December
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span November
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span October
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span September
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span August
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span July
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span June
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span May
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span April
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span March
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span February
                          span (5)
                      div.blog-item__archives-listItem_month
                        a(href="#")
                          span January
                          span (5)



