mixin columnItem(text)
  div.brands__column-item
    div.brands__column-point
    p.brands__column-title= text
 
section.brands
  p.brands__title Brands We Serve
  div.container.brands__container

    div.brands__column
      +columnItem('Admiral')
      +columnItem('Dacor')
      +columnItem('Gaggenau')
      +columnItem('Hotpoint')
      +columnItem('KitchenAid')
      +columnItem('Maytag')
      +columnItem('Roper')
      +columnItem('Speed Queen')
      +columnItem('Viking')

    div.brands__column
      +columnItem('Amana')
      +columnItem('Electrolux')
      +columnItem('GE Monogram')
      +columnItem('Jenn-Air')
      +columnItem('LG')
      +columnItem('Miele')
      +columnItem('Samsung')
      +columnItem('Sub-Zero')
      +columnItem('Westinghouse')

    div.brands__column
      +columnItem('Americana')
      +columnItem('Estate')
      +columnItem('General Electric')
      +columnItem('Kelvinator')
      +columnItem('Magic Chef')
      +columnItem('Monogram')
      +columnItem('Scotsman')
      +columnItem('Tappan')
      +columnItem('Whirlpool')

    div.brands__column
      +columnItem('Bosch')
      +columnItem('Frigidaire')
      +columnItem('Gibson')
      +columnItem('Kenmore')
      +columnItem('RCA')
      +columnItem('Thermador')
      +columnItem('Whirlpool')
      +columnItem('U-Line')
      +columnItem('Wolf')



