header.header
  nav.header__navigate
    div.header__navigate_block.header__navigate_block-left
      div.header__burger
        div.header__burger-bar
      div.logo
        div.logo-img
          <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="17.2888" y="31.4282" width="6.74714" height="6.87514" fill="#FF3737"/>
            <rect x="17.2888" y="40.2686" width="6.74714" height="6.87514" fill="#FF3737"/>
            <rect x="25.9637" y="31.4282" width="6.74714" height="6.87514" fill="#FF3737"/>
            <rect x="25.9637" y="40.2686" width="6.74714" height="6.87514" fill="#FF3737"/>
            <path d="M40.6458 8.68652C46.3492 13.3555 49.9999 20.5215 49.9999 28.5564C49.9999 37.5585 45.4175 45.4699 38.4999 50.0009V28.5564L26.1371 19.8911L40.6458 8.68652Z" fill="#FF3737"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.639 0H14.3976V5.47872C5.89108 9.54368 0 18.3485 0 28.5553C0 37.5573 4.58241 45.4688 11.5 49.9998V28.5553L24.6625 18.965L39.5366 7.78134C38.0389 6.71387 36.3906 5.79368 34.639 5.05763V0Z" fill="#162230"/>
          </svg>
        div.logo-text
          p Volt
          p Appliance Repair

    div.header__navigate_block.header__navigate_menu
      ul.header__navigate_menuList
        li.header__navigate_menuList-item
          a(href="#") Home
        li.header__navigate_menuList-item
          a(href="#") Residential
        li.header__navigate_menuList-item
          a(href="#") Commercial
        li.header__navigate_menuList-item
          a(href="#") Schedule
        li.header__navigate_menuList-item
          a(href="#") Locations

    div.header__navigate_block.header__navigate_contact
      p Call us now!
      a(href="tel:+18882857957").header__navigate_contact-link
        div.header__navigate_contact-img
          <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="14" cy="14" r="14" fill="#FF3737"/>
            <path d="M19.2411 16.6831C18.8755 16.3781 18.4455 16.1569 17.9822 16.0354C17.5189 15.9138 17.034 15.8951 16.5624 15.9804C15.7914 16.0412 15.1668 17.087 15.1668 17.087C15.1668 17.087 14.5703 17.0261 13.0565 15.9195C12.1029 15.1381 11.4611 14.0504 11.2444 12.8486C11.6263 12.3047 11.9364 11.7154 12.1673 11.0946C12.3005 10.4996 12.2081 9.87725 11.9076 9.34442C11.6071 8.8116 11.1192 8.40494 10.5353 8.20081C8.84705 7.47044 7.92976 8.36127 7.92976 8.36127C7.84076 10.0118 8.10872 11.6622 8.71596 13.2035C9.32321 14.7448 10.2559 16.1419 11.4526 17.3028C12.5482 18.4131 13.9117 19.2328 15.4162 19.6856C16.9206 20.1384 18.5172 20.2095 20.0571 19.8923C20.097 19.4635 20.097 19.0319 20.0571 18.6031C20.0416 17.8847 19.75 17.1988 19.2411 16.6831Z" fill="white"/>
          </svg>
        p (888) 285-7957


  div.header__bg
    img(src="assets/images/header-img.png", alt="Background-img")

  div.container.header__block
    div.header__mainText
      p.header__mainText_subtitle Get $25 Off Any Appliance repair
      p.header__mainText_title
        | Free 
        span Service Call 
        | With Repair
      div.header__mainText_items
        p Same Day Service
        div.header__mainText_items-point
        p Licensed
        div.header__mainText_items-point
        p Insured

    div.header__schedule
      p.header__schedule_title Schedule Your Service Online!
      p.header__schedule_subtitle And Get $10 Off For Diagnostic
      div.header__schedule_data
        div.list-block.header__schedule_listBlock
          div.list.header__schedule_list.schedule_list-1
            div.list-text.header__schedule_list-text.schedule_list-text-1
              p Select Your Service
            div.list-arrow.header__schedule_list-arrow.schedule_list-arrow-1
              <svg viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.17529 1L6.67529 6L12.1753 1" stroke="#565656" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          div.list-items.header__schedule_list-items.schedule_list-items-1
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Refrigerator
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Freezer
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Wine Cooler
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Ice Maker
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Dryer (Electric)
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Dryer (Gas)
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Dryer Vent Cleaning
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Washing Machine
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Dishwasher
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Garbage Disposal
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Oven
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Range
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Stove
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Microwave
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Outdoor Grill
              div.list-item.header__schedule_list-item.schedule_list-item-1
                p Other

        div.header__schedule_zip.schedule-zip-1
          input(type="text" placeholder="Zip Code").header__schedule_zip-input.zip-input
        div.header__schedule_button
          button.btn.header__schedule_btn.schedule-btn-1 Schedule
      div.header__schedule_checkBlock
        div.check
          input(type="checkbox", name="schedule-checkbox" id="schedule-checkbox")
          label(for="schedule-checkbox").checkbox
            <svg viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 4L4.63636 8L11 1" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        p My appliance is covered by a manufacturer’s warranty or service contact

  div.header__triangles-bg
    img(src="assets/images/triangles-bg.png", alt="Triangles-bg")




