section.local
  div.container
    div.local__data
      div.local__data_triangle
        img(src="assets/images/triangle-1.png", alt="Triangle")
      div.local__data_img
        div.local__data_img-image
          img(src="assets/images/service-img.jpg", alt="Image")
      div.local__data_text
        h1.local__data_text-title Appliance Repairs in Manatee County
        h2.local__data_text-subtitle Need Services in Bradenton, Lakewood Ranch or North Sarasota? Call Us!
        p.local__data_text-paragraph
          | When household appliances need repairs, turn to none other than Mr. Appliance® of Manatee & North Sarasota County! We are always ready to help, no matter the type or brand of appliance you’re having issues with. With skilled appliance technicians who are highly trained in their field, we give our customers peace of mind and assurance knowing we can get the job done efficiently and effectively.
        p.local__data_text-paragraph
          | We know that your appliances are very valuable and important to you, providing a convenient and effective way for you to get your chores, tasks, and daily jobs done. Whether you are a business owner needing to protect your products in your damaged walk-in freezer or a homeowner seeking to restore comfort to your house after your dryer broke down, Mr. Appliance of Manatee County is here to help.

  div.local__appointment
    div.container.local__appointment_container
      p Are You Interested In An Estimate?
      button.btn-red.local__appointment_btn Schedule An Appointment!


