section.areas.main-blog
  p.areas__title Our Blog
  div.container.blog__container.main-blog_container
    div.blog__items
      div.blog__items_row
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...
        div.blog__item
          div.blog__item_img
            img(src="assets/images/comfort-control-stove.jpg", alt="Img")
          p.blog__item_title Lorem Ipsum Title
          p.blog__item_subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, autem...
          a(href="#").blog__item_link Read More...

  a(href="#").btn.btn-link.main-blog_btn Read More


