section.popup
  div.popup__block
    div.popup__bg
    div.popup__send.popup__send-sms
      div.popup__close
        div.popup__close-bar
      input(type="tel" id="phone" name="phone" placeholder="Input your phone number").popup__input.popup__input-tel
      button.btn.popup__btn.popup__btn-sms Send

    div.popup__send.popup__send-email
      div.popup__close
        div.popup__close-bar
      input(type="email" id="email" name="email" placeholder="Input your email").popup__input.popup__input-email
      button.btn.popup__btn.popup__btn-email Send

    div.popup__send.popup__send-thank
      p Thank You!
      button.btn.popup__btn.popup__btn-thank OK

