section.popup-service-location.active
  div.popup-service-location__block
    div.popup-service-location__bg
    div.popup-service-location__data
      p.popup-service-location__data_title The SMS-code was sent on your phone number.<br>Please push the button "Send" and type the code from your phone in the field below
      input(type="text").popup-service-location__data_input
      div.popup-service-location__data_buttons
        button.btn Cancel
        button.btn Send

