section.primitive-main-menu
  div.primitive-main-menu__links
    a(href="blog.html").primitive-main-menu__link Blog
    a(href="blog-item.html").primitive-main-menu__link Blog Item
    a(href="booked.html").primitive-main-menu__link Booked
    a(href="contact-us.html").primitive-main-menu__link Contact Us
    a(href="home.html").primitive-main-menu__link Home
    a(href="issue.html").primitive-main-menu__link Issue
    a(href="location.html").primitive-main-menu__link Location
    a(href="locations.html").primitive-main-menu__link Locations
    a(href="schedule.html").primitive-main-menu__link Schedule
    a(href="site-map.html").primitive-main-menu__link Site Map
    a(href="unavailable-not-online.html").primitive-main-menu__link Unavailable Not Online
    a(href="unavailable.html").primitive-main-menu__link Unavailable
    a(href="when.html").primitive-main-menu__link When
