section.service-repair
  div.container.service-repair__container
    div.service-repair__block
      div.service-repair__block_column
        div.service-repair__text
          p.service-repair__text_title Home Appliance Repair Service
          p.service-repair__text_paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam maiores incidunt consectetur nostrum deleniti quisquam dicta eveniet. Asperiores amet laboriosam placeat consectetur harum excepturi saepe molestiae inventore delectus quasi ea debitis, magni quia quidem minima aspernatur repudiandae incidunt ipsum tempore eligendi accusamus beatae. Dolor harum, illum soluta magnam ab, tempora voluptate quidem, eum earum sit dolorum doloribus aliquam blanditiis minus nam quisquam numquam! Autem, earum quae natus minus animi officia vel beatae repellendus. Dicta ad praesentium, accusantium, reprehenderit nesciunt nisi quia quasi, assumenda illum magni voluptatem architecto! Eum quaerat a tenetur id hic consequuntur animi, omnis nobis dolore odit adipisci vero sequi odio veniam facere earum, illum quod! Itaque quos magnam impedit deserunt voluptate, eligendi repudiandae reprehenderit magni in facilis voluptatibus vel eveniet rem debitis libero ea ducimus, possimus nobis. Excepturi iure, sunt quisquam aspernatur voluptates doloribus.

          div.service-repair__needs
            p.service-repair__needs_title Call us for all your home appliance repair needs, including:
            div.service-repair__needs_items
              div.service-repair__needs_item
                div.service-repair__needs_item-point
                a(href="#").service-repair__needs_item-link Refrigerator repair service 
              div.service-repair__needs_item
                div.service-repair__needs_item-point
                a(href="#").service-repair__needs_item-link Dryer repair service 
              div.service-repair__needs_item
                div.service-repair__needs_item-point
                a(href="#").service-repair__needs_item-link Washer repair service
              div.service-repair__needs_item
                div.service-repair__needs_item-point
                a(href="#").service-repair__needs_item-link Oven repair service
              div.service-repair__needs_item
                div.service-repair__needs_item-point
                a(href="#").service-repair__needs_item-link Stove repair service
              div.service-repair__needs_item
                div.service-repair__needs_item-point
                a(href="#").service-repair__needs_item-link Dishwasher repair service

          p.service-repair__text_paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam maiores incidunt consectetur nostrum deleniti quisquam dicta eveniet. Asperiores amet laboriosam placeat consectetur harum excepturi saepe molestiae inventore delectus quasi ea debitis, magni quia quidem minima aspernatur repudiandae incidunt ipsum tempore eligendi accusamus beatae. Dolor harum, illum soluta magnam ab, tempora voluptate quidem, eum earum sit dolorum doloribus aliquam blanditiis minus nam quisquam numquam! Autem, earum quae natus minus animi officia vel beatae repellendus.

      div.service-repair__block_column
        div.sliderBlock.service-repair__sliderBlock
          div.sliderBlock__content
            div.sliderBlock__content_slider-block
              div.sliderBlock__content_slider-items

                div.sliderBlock__content_slider-item
                  div.sliderBlock__content_promotion
                    p.sliderBlock__content_promotion-title
                      span Promotion 
                      | For New Customers
                    div.sliderBlock__content_promotion-block
                      div.sliderBlock__content_promotion-sale 25$
                        div *
                      p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                    div.sliderBlock__content_promotion-notes
                      p.sliderBlock__content_promotion-note *Only one coupon per customer
                      p.sliderBlock__content_promotion-note *For any repair over $100
                    div.sliderBlock__content_buttons
                      button.btn.sliderBlock__content_btn.send-sms Send by SMS
                      button.btn.sliderBlock__content_btn.send-email Send by E-mail

                div.sliderBlock__content_slider-item
                  div.sliderBlock__content_promotion
                    p.sliderBlock__content_promotion-title 
                      span Schedule 
                      | Your Service Online
                    div.sliderBlock__content_promotion-block
                      div.sliderBlock__content_promotion-sale 10$
                        div *
                      p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                    div.sliderBlock__content_promotion-notes
                      p.sliderBlock__content_promotion-note *Only one coupon per customer
                      //- p.sliderBlock__content_promotion-note *For any repair over $100
                    div.sliderBlock__content_buttons
                      //- button.btn.sliderBlock__content_btn Send by SMS
                      button.btn.sliderBlock__content_btn.schedule Schedule An Appointment

                div.sliderBlock__content_slider-item
                  div.sliderBlock__content_promotion
                    p.sliderBlock__content_promotion-title 
                      span Promotion 
                      | For Seniors
                    div.sliderBlock__content_promotion-block
                      div.sliderBlock__content_promotion-sale 30$
                        div *
                      p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                    div.sliderBlock__content_promotion-notes
                      p.sliderBlock__content_promotion-note *Only one coupon per customer
                      p.sliderBlock__content_promotion-note *For any repair over $150
                    div.sliderBlock__content_buttons
                      button.btn.sliderBlock__content_btn.send-sms Send by SMS
                      button.btn.sliderBlock__content_btn.send-email Send by E-mail

                div.sliderBlock__content_slider-item
                  div.sliderBlock__content_promotion
                    p.sliderBlock__content_promotion-title 
                      span Promotion 
                      | For Military
                    div.sliderBlock__content_promotion-block
                      div.sliderBlock__content_promotion-sale 30$
                        div *
                      p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                    div.sliderBlock__content_promotion-notes
                      p.sliderBlock__content_promotion-note *Only one coupon per customer
                      p.sliderBlock__content_promotion-note *For any repair over $150
                    div.sliderBlock__content_buttons
                      button.btn.sliderBlock__content_btn.send-sms Send by SMS
                      button.btn.sliderBlock__content_btn.send-email Send by E-mail

        div.service-repair__review
          div.service-repair__review_person
            p.service-repair__review_name Jonathan Swift
            div.service-repair__review_from
              p from
              div.service-repair__review_social-icon.service-repair__review_social-facebook
                <svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.5651 26H17.9396V15.9313H21.3193L21.8257 12.0078H17.9396V9.50212C17.9396 8.36615 18.2555 7.59207 19.8844 7.59207L21.9624 7.59136V4.08144C21.6026 4.03399 20.3695 3.92705 18.9347 3.92705C15.9388 3.92705 13.8878 5.75567 13.8878 9.11402V12.0078H10.4996V15.9313H13.8878V26H1.43488C0.642369 26 0 25.3569 0 24.5644V1.43555C0 0.642351 0.642369 0 1.43488 0H24.5651C25.3576 0 26 0.642351 26 1.43555V24.5644C26 25.3569 25.3576 26 24.5651 26Z" fill="#162230"/>
                </svg>
              div.service-repair__review_social-icon.service-repair__review_social-thumbtack
                <svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26ZM15.9589 16.1779C17.4391 14.4973 16.0343 12.4363 16.0343 12.4363L18.8193 7.95318L20.6585 7.29499L15.6944 3.95352L15.7485 5.77452L12.5114 10.0649C12.5114 10.0649 10.0731 9.53901 9.07326 11.5429L11.7955 13.3754L8.7521 18.2422L7.79086 21.053L10.0331 19.1046L13.3968 14.4533L15.9589 16.1779Z" fill="#162230"/>
                </svg>
              div.service-repair__review_social-icon.service-repair__review_social-yelp.active
                <svg width="21" height="26" viewBox="0 0 21 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.20223 22.8415L8.81616 17.679C9.41707 17.0067 10.5304 17.436 10.5243 18.3377L10.4791 25.0273C10.4746 25.6928 9.8215 26.1598 9.19034 25.9488L4.62163 24.4217C3.9546 24.1987 3.73356 23.3659 4.20223 22.8415Z" fill="#162230"/>
                  <path d="M1.84358 11.1409L8.21301 14.4115C9.02293 14.8274 8.87574 16.027 7.9893 16.2348L1.29176 17.8044C0.650992 17.9545 0.0476505 17.4421 0.0921629 16.7855L0.42028 11.9452C0.467845 11.2436 1.21796 10.8197 1.84358 11.1409Z" fill="#162230"/>
                  <path d="M16.1418 23.4262L12.4542 17.5661C11.9739 16.8029 12.694 15.8514 13.559 16.1063L19.976 17.997C20.6143 18.1851 20.8828 18.9418 20.5057 19.4901L17.7763 23.4595C17.3779 24.039 16.5164 24.0215 16.1418 23.4262Z" fill="#162230"/>
                  <path d="M20.0764 12.2986L13.434 14.2524C12.5688 14.5069 11.8492 13.5551 12.3298 12.7921L15.8954 7.13177C16.2501 6.56869 17.0513 6.51626 17.4763 7.0283L20.5532 10.7348C21.0024 11.276 20.7511 12.1002 20.0764 12.2986Z" fill="#162230"/>
                  <path d="M10.661 1.00681L10.3837 10.9759C10.3578 11.9086 9.16536 12.2793 8.61521 11.5257L3.04346 3.89378C2.66677 3.37781 2.87747 2.64513 3.4707 2.40809L9.31971 0.0709037C9.97327 -0.190251 10.6806 0.303268 10.661 1.00681Z" fill="#162230"/>
                </svg>

          div.service-repair__review_stars
            div.service-repair__review_star.service-repair__review_star-5.active
              <svg viewBox="0 0 142 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1.61641L13.1213 8.13775L13.2336 8.48309H13.5967H20.4598L14.9079 12.5122L14.6137 12.7258L14.7261 13.0716L16.8471 19.5918L11.2937 15.5615L11 15.3484L10.7063 15.5615L5.15295 19.5918L7.27385 13.0716L7.38632 12.7258L7.09205 12.5122L1.54023 8.48309H8.40325H8.7664L8.87873 8.13775L11 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M41 1.61641L43.1213 8.13775L43.2336 8.48309H43.5967H50.4598L44.9079 12.5122L44.6137 12.7258L44.7261 13.0716L46.8471 19.5918L41.2937 15.5615L41 15.3484L40.7063 15.5615L35.1529 19.5918L37.2739 13.0716L37.3863 12.7258L37.0921 12.5122L31.5402 8.48309H38.4033H38.7664L38.8787 8.13775L41 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M71 1.61641L73.1213 8.13775L73.2336 8.48309H73.5967H80.4598L74.9079 12.5122L74.6137 12.7258L74.7261 13.0716L76.8471 19.5918L71.2937 15.5615L71 15.3484L70.7063 15.5615L65.1529 19.5918L67.2739 13.0716L67.3863 12.7258L67.0921 12.5122L61.5402 8.48309H68.4033H68.7664L68.8787 8.13775L71 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M101 1.61641L103.121 8.13775L103.234 8.48309H103.597H110.46L104.908 12.5122L104.614 12.7258L104.726 13.0716L106.847 19.5918L101.294 15.5615L101 15.3484L100.706 15.5615L95.1529 19.5918L97.2739 13.0716L97.3863 12.7258L97.0921 12.5122L91.5402 8.48309H98.4033H98.7664L98.8787 8.13775L101 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M131 1.61641L133.121 8.13775L133.234 8.48309H133.597H140.46L134.908 12.5122L134.614 12.7258L134.726 13.0716L136.847 19.5918L131.294 15.5615L131 15.3484L130.706 15.5615L125.153 19.5918L127.274 13.0716L127.386 12.7258L127.092 12.5122L121.54 8.48309H128.403H128.766L128.879 8.13775L131 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
              </svg>
            div.service-repair__review_star.service-repair__review_star-4
              <svg viewBox="0 0 142 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1.61641L13.1213 8.13775L13.2336 8.48309H13.5967H20.4598L14.9079 12.5122L14.6137 12.7258L14.7261 13.0716L16.8471 19.5918L11.2937 15.5615L11 15.3484L10.7063 15.5615L5.15295 19.5918L7.27385 13.0716L7.38632 12.7258L7.09205 12.5122L1.54023 8.48309H8.40325H8.7664L8.87873 8.13775L11 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M41 1.61641L43.1213 8.13775L43.2336 8.48309H43.5967H50.4598L44.9079 12.5122L44.6137 12.7258L44.7261 13.0716L46.8471 19.5918L41.2937 15.5615L41 15.3484L40.7063 15.5615L35.1529 19.5918L37.2739 13.0716L37.3863 12.7258L37.0921 12.5122L31.5402 8.48309H38.4033H38.7664L38.8787 8.13775L41 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M71 1.61641L73.1213 8.13775L73.2336 8.48309H73.5967H80.4598L74.9079 12.5122L74.6137 12.7258L74.7261 13.0716L76.8471 19.5918L71.2937 15.5615L71 15.3484L70.7063 15.5615L65.1529 19.5918L67.2739 13.0716L67.3863 12.7258L67.0921 12.5122L61.5402 8.48309H68.4033H68.7664L68.8787 8.13775L71 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M101 1.61641L103.121 8.13775L103.234 8.48309H103.597H110.46L104.908 12.5122L104.614 12.7258L104.726 13.0716L106.847 19.5918L101.294 15.5615L101 15.3484L100.706 15.5615L95.1529 19.5918L97.2739 13.0716L97.3863 12.7258L97.0921 12.5122L91.5402 8.48309H98.4033H98.7664L98.8787 8.13775L101 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M131 1.61641L133.121 8.13775L133.234 8.48309H133.597H140.46L134.908 12.5122L134.614 12.7258L134.726 13.0716L136.847 19.5918L131.294 15.5615L131 15.3484L130.706 15.5615L125.153 19.5918L127.274 13.0716L127.386 12.7258L127.092 12.5122L121.54 8.48309H128.403H128.766L128.879 8.13775L131 1.61641Z" stroke="#FF3737"/>
              </svg>
            div.service-repair__review_star.service-repair__review_star-3
              <svg viewBox="0 0 142 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1.61641L13.1213 8.13775L13.2336 8.48309H13.5967H20.4598L14.9079 12.5122L14.6137 12.7258L14.7261 13.0716L16.8471 19.5918L11.2937 15.5615L11 15.3484L10.7063 15.5615L5.15295 19.5918L7.27385 13.0716L7.38632 12.7258L7.09205 12.5122L1.54023 8.48309H8.40325H8.7664L8.87873 8.13775L11 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M41 1.61641L43.1213 8.13775L43.2336 8.48309H43.5967H50.4598L44.9079 12.5122L44.6137 12.7258L44.7261 13.0716L46.8471 19.5918L41.2937 15.5615L41 15.3484L40.7063 15.5615L35.1529 19.5918L37.2739 13.0716L37.3863 12.7258L37.0921 12.5122L31.5402 8.48309H38.4033H38.7664L38.8787 8.13775L41 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M71 1.61641L73.1213 8.13775L73.2336 8.48309H73.5967H80.4598L74.9079 12.5122L74.6137 12.7258L74.7261 13.0716L76.8471 19.5918L71.2937 15.5615L71 15.3484L70.7063 15.5615L65.1529 19.5918L67.2739 13.0716L67.3863 12.7258L67.0921 12.5122L61.5402 8.48309H68.4033H68.7664L68.8787 8.13775L71 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M101 1.61641L103.121 8.13775L103.234 8.48309H103.597H110.46L104.908 12.5122L104.614 12.7258L104.726 13.0716L106.847 19.5918L101.294 15.5615L101 15.3484L100.706 15.5615L95.1529 19.5918L97.2739 13.0716L97.3863 12.7258L97.0921 12.5122L91.5402 8.48309H98.4033H98.7664L98.8787 8.13775L101 1.61641Z" stroke="#FF3737"/>
                <path d="M131 1.61641L133.121 8.13775L133.234 8.48309H133.597H140.46L134.908 12.5122L134.614 12.7258L134.726 13.0716L136.847 19.5918L131.294 15.5615L131 15.3484L130.706 15.5615L125.153 19.5918L127.274 13.0716L127.386 12.7258L127.092 12.5122L121.54 8.48309H128.403H128.766L128.879 8.13775L131 1.61641Z" stroke="#FF3737"/>
              </svg>
            div.service-repair__review_star.service-repair__review_star-2
              <svg viewBox="0 0 142 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1.61641L13.1213 8.13775L13.2336 8.48309H13.5967H20.4598L14.9079 12.5122L14.6137 12.7258L14.7261 13.0716L16.8471 19.5918L11.2937 15.5615L11 15.3484L10.7063 15.5615L5.15295 19.5918L7.27385 13.0716L7.38632 12.7258L7.09205 12.5122L1.54023 8.48309H8.40325H8.7664L8.87873 8.13775L11 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M41 1.61641L43.1213 8.13775L43.2336 8.48309H43.5967H50.4598L44.9079 12.5122L44.6137 12.7258L44.7261 13.0716L46.8471 19.5918L41.2937 15.5615L41 15.3484L40.7063 15.5615L35.1529 19.5918L37.2739 13.0716L37.3863 12.7258L37.0921 12.5122L31.5402 8.48309H38.4033H38.7664L38.8787 8.13775L41 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M71 1.61641L73.1213 8.13775L73.2336 8.48309H73.5967H80.4598L74.9079 12.5122L74.6137 12.7258L74.7261 13.0716L76.8471 19.5918L71.2937 15.5615L71 15.3484L70.7063 15.5615L65.1529 19.5918L67.2739 13.0716L67.3863 12.7258L67.0921 12.5122L61.5402 8.48309H68.4033H68.7664L68.8787 8.13775L71 1.61641Z" stroke="#FF3737"/>
                <path d="M101 1.61641L103.121 8.13775L103.234 8.48309H103.597H110.46L104.908 12.5122L104.614 12.7258L104.726 13.0716L106.847 19.5918L101.294 15.5615L101 15.3484L100.706 15.5615L95.1529 19.5918L97.2739 13.0716L97.3863 12.7258L97.0921 12.5122L91.5402 8.48309H98.4033H98.7664L98.8787 8.13775L101 1.61641Z" stroke="#FF3737"/>
                <path d="M131 1.61641L133.121 8.13775L133.234 8.48309H133.597H140.46L134.908 12.5122L134.614 12.7258L134.726 13.0716L136.847 19.5918L131.294 15.5615L131 15.3484L130.706 15.5615L125.153 19.5918L127.274 13.0716L127.386 12.7258L127.092 12.5122L121.54 8.48309H128.403H128.766L128.879 8.13775L131 1.61641Z" stroke="#FF3737"/>
              </svg>
            div.service-repair__review_star.service-repair__review_star-1
              <svg viewBox="0 0 142 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1.61641L13.1213 8.13775L13.2336 8.48309H13.5967H20.4598L14.9079 12.5122L14.6137 12.7258L14.7261 13.0716L16.8471 19.5918L11.2937 15.5615L11 15.3484L10.7063 15.5615L5.15295 19.5918L7.27385 13.0716L7.38632 12.7258L7.09205 12.5122L1.54023 8.48309H8.40325H8.7664L8.87873 8.13775L11 1.61641Z" fill="#FF3737" stroke="#FF3737"/>
                <path d="M41 1.61641L43.1213 8.13775L43.2336 8.48309H43.5967H50.4598L44.9079 12.5122L44.6137 12.7258L44.7261 13.0716L46.8471 19.5918L41.2937 15.5615L41 15.3484L40.7063 15.5615L35.1529 19.5918L37.2739 13.0716L37.3863 12.7258L37.0921 12.5122L31.5402 8.48309H38.4033H38.7664L38.8787 8.13775L41 1.61641Z" stroke="#FF3737"/>
                <path d="M71 1.61641L73.1213 8.13775L73.2336 8.48309H73.5967H80.4598L74.9079 12.5122L74.6137 12.7258L74.7261 13.0716L76.8471 19.5918L71.2937 15.5615L71 15.3484L70.7063 15.5615L65.1529 19.5918L67.2739 13.0716L67.3863 12.7258L67.0921 12.5122L61.5402 8.48309H68.4033H68.7664L68.8787 8.13775L71 1.61641Z" stroke="#FF3737"/>
                <path d="M101 1.61641L103.121 8.13775L103.234 8.48309H103.597H110.46L104.908 12.5122L104.614 12.7258L104.726 13.0716L106.847 19.5918L101.294 15.5615L101 15.3484L100.706 15.5615L95.1529 19.5918L97.2739 13.0716L97.3863 12.7258L97.0921 12.5122L91.5402 8.48309H98.4033H98.7664L98.8787 8.13775L101 1.61641Z" stroke="#FF3737"/>
                <path d="M131 1.61641L133.121 8.13775L133.234 8.48309H133.597H140.46L134.908 12.5122L134.614 12.7258L134.726 13.0716L136.847 19.5918L131.294 15.5615L131 15.3484L130.706 15.5615L125.153 19.5918L127.274 13.0716L127.386 12.7258L127.092 12.5122L121.54 8.48309H128.403H128.766L128.879 8.13775L131 1.61641Z" stroke="#FF3737"/>
              </svg>
            div.service-repair__review_star.service-repair__review_star-0
              <svg viewBox="0 0 142 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1.61641L13.1213 8.13775L13.2336 8.48309H13.5967H20.4598L14.9079 12.5122L14.6137 12.7258L14.7261 13.0716L16.8471 19.5918L11.2937 15.5615L11 15.3484L10.7063 15.5615L5.15295 19.5918L7.27385 13.0716L7.38632 12.7258L7.09205 12.5122L1.54023 8.48309H8.40325H8.7664L8.87873 8.13775L11 1.61641Z" stroke="#FF3737"/>
                <path d="M41 1.61641L43.1213 8.13775L43.2336 8.48309H43.5967H50.4598L44.9079 12.5122L44.6137 12.7258L44.7261 13.0716L46.8471 19.5918L41.2937 15.5615L41 15.3484L40.7063 15.5615L35.1529 19.5918L37.2739 13.0716L37.3863 12.7258L37.0921 12.5122L31.5402 8.48309H38.4033H38.7664L38.8787 8.13775L41 1.61641Z" stroke="#FF3737"/>
                <path d="M71 1.61641L73.1213 8.13775L73.2336 8.48309H73.5967H80.4598L74.9079 12.5122L74.6137 12.7258L74.7261 13.0716L76.8471 19.5918L71.2937 15.5615L71 15.3484L70.7063 15.5615L65.1529 19.5918L67.2739 13.0716L67.3863 12.7258L67.0921 12.5122L61.5402 8.48309H68.4033H68.7664L68.8787 8.13775L71 1.61641Z" stroke="#FF3737"/>
                <path d="M101 1.61641L103.121 8.13775L103.234 8.48309H103.597H110.46L104.908 12.5122L104.614 12.7258L104.726 13.0716L106.847 19.5918L101.294 15.5615L101 15.3484L100.706 15.5615L95.1529 19.5918L97.2739 13.0716L97.3863 12.7258L97.0921 12.5122L91.5402 8.48309H98.4033H98.7664L98.8787 8.13775L101 1.61641Z" stroke="#FF3737"/>
                <path d="M131 1.61641L133.121 8.13775L133.234 8.48309H133.597H140.46L134.908 12.5122L134.614 12.7258L134.726 13.0716L136.847 19.5918L131.294 15.5615L131 15.3484L130.706 15.5615L125.153 19.5918L127.274 13.0716L127.386 12.7258L127.092 12.5122L121.54 8.48309H128.403H128.766L128.879 8.13775L131 1.61641Z" stroke="#FF3737"/>
              </svg>
          p.service-repair__review_text “<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate neque minus repudiandae aspernatur necessitatibus. Accusantium, suscipit neque harum, sunt, ea libero aliquid velit est odio reiciendis exercitationem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error earum facilis eaque quidem voluptatem harum asperiores a fugiat voluptas nulla.</span>”





    div.header-schedule_contact
      p Contact Us
      a(href="tel:+18882857957") (888) 285-7957

