section.sliderBlock
  div.container.sliderBlock__container
    div.sliderBlock__content
      div.sliderBlock__content_block.sliderBlock__content_block-left
        div.sliderBlock__content_image
          img(src="assets/images/promotion-img.png", alt="Img")
      div.sliderBlock__content_block.sliderBlock__content_block-right
        div.sliderBlock__content_slider-block
          div.sliderBlock__content_slider-items

            div.sliderBlock__content_slider-item
              div.sliderBlock__content_promotion
                p.sliderBlock__content_promotion-title 
                  span Promotion 
                  | For New Customers
                div.sliderBlock__content_promotion-block
                  div.sliderBlock__content_promotion-sale 25$
                    div *
                  p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                div.sliderBlock__content_promotion-notes
                  p.sliderBlock__content_promotion-note *Only one coupon per customer
                  p.sliderBlock__content_promotion-note *For any repair over $100
                div.sliderBlock__content_buttons
                  button.btn.sliderBlock__content_btn Send by SMS
                  button.btn.sliderBlock__content_btn Send by E-mail

            div.sliderBlock__content_slider-item
              div.sliderBlock__content_promotion
                p.sliderBlock__content_promotion-title 
                  span Promotion 
                  | For New Customers
                div.sliderBlock__content_promotion-block
                  div.sliderBlock__content_promotion-sale 25$
                    div *
                  p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                div.sliderBlock__content_promotion-notes
                  p.sliderBlock__content_promotion-note *Only one coupon per customer
                  p.sliderBlock__content_promotion-note *For any repair over $100
                div.sliderBlock__content_buttons
                  button.btn.sliderBlock__content_btn Send by SMS
                  button.btn.sliderBlock__content_btn Send by E-mail

            div.sliderBlock__content_slider-item
              div.sliderBlock__content_promotion
                p.sliderBlock__content_promotion-title 
                  span Promotion 
                  | For New Customers
                div.sliderBlock__content_promotion-block
                  div.sliderBlock__content_promotion-sale 25$
                    div *
                  p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                div.sliderBlock__content_promotion-notes
                  p.sliderBlock__content_promotion-note *Only one coupon per customer
                  p.sliderBlock__content_promotion-note *For any repair over $100
                div.sliderBlock__content_buttons
                  button.btn.sliderBlock__content_btn Send by SMS
                  button.btn.sliderBlock__content_btn Send by E-mail

            div.sliderBlock__content_slider-item
              div.sliderBlock__content_promotion
                p.sliderBlock__content_promotion-title 
                  span Promotion 
                  | For New Customers
                div.sliderBlock__content_promotion-block
                  div.sliderBlock__content_promotion-sale 25$
                    div *
                  p.sliderBlock__content_promotion-condition Off Any Appliance Repair
                div.sliderBlock__content_promotion-notes
                  p.sliderBlock__content_promotion-note *Only one coupon per customer
                  p.sliderBlock__content_promotion-note *For any repair over $100
                div.sliderBlock__content_buttons
                  button.btn.sliderBlock__content_btn Send by SMS
                  button.btn.sliderBlock__content_btn Send by E-mail


